*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; 
}

.row{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/cyber-security4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 130%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 10px;
}
h2{
    
     font-size: 130%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-left: 400px;  
}
h2:after{
    display: block;
    height: 2px;
    background-color:  #d35400;
    content: " ";
    width: 260px;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

.ingredients-textbox {
    position: absolute;
    width: 1160px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}



.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 5px 20px;
    font-weight: 100;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color .5s, border .5s, color .5s; 
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #d35400;
    color: #d35400;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #a04000;
    
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #d35400;

}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #d35400;
    color: #fff;

} 

.logo {
    height: 70px;
    width: auto;
    margin-left:40px;
    margin-top: 40px;
    float: left;
    transform: translate(-20%,-5%);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display:inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d35400;
}
.icon {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
    display: block;
    font-size: 400%;
    color: fuchsia;
}

#stopwatch-icon {
    margin-top: 8px;
}
section{
    padding: 80px 0;
}

.section-text {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.box{
    padding: 1%;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
    margin-left: 20px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.spice-showcase {
    list-style: none;
    width: 100%;

}

.spice-showcase li{
    display: block;
    float: left;
    width: 25%; 
}
.spice-photo {
    width: 100%;
    margin : 0;
    overflow: hidden;
    background-color: #000;
}

.spice-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 1s;
   
}
.grid-spices-image {
    margin-top: 0px;
    padding: 0;
}
.spice-photo img:hover{
    transform: scale(1.04);
    opacity: 1;
}


.how-works-margin {
    margin-top: 500px;
}
.how-works-margin:after{
    display: block;
    height: 2px;
    background-color:  #d35400;
    content: " ";
    width: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 180px;
}

.step-box{
    margin-top: 30px;
}

.step-box:first-child{
    text-align:right;
    padding-left: 3%;
    margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 90px;
}

.iphone-app {
    width: 130%;
    
}

.btn-app {
    margin-top: 30%;
}

.play-store {
    
    width: 25%;
    height: 40px;
}

.work-step {
    margin-bottom: 40px;
    margin-top: 20px;
}

.work-step div{
    color: #d35400;
    border: 2px solid #d35400;
    display:inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 120%;
    margin-right: 40px;
}
.contact-form {
    width: 60%;
    margin: 0 auto;
    margin-left: 0px;
}

input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #656565;
}

textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline:none;
}
input[type=submit]{
    margin-left: 35%;
}
.form-section:after {
      display: block;
    height: 2px;
    background-color:  #d35400;
    content: " ";
    width: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 200px;
}



